<!-- src/app/about/about.component.html -->
<section class="about">

  <div class="back-to-home-button">
    <button mat-raised-button color="primary" (click)="goHome()">
      Back to Home
    </button>
  </div>

    <h1>About Us</h1>
    <p>Welcome to Our Company!</p>
  
    <section class="company-info">
      <h2>Our Mission</h2>
      <p>Our mission is to deliver high-quality products and services that exceed our customers' expectations. We strive to innovate and improve continuously in our field.</p>
  
      <h2>Our Story</h2>
      <p>Founded in 2020, our company started with a simple goal: to make technology more accessible and user-friendly. Over the years, we've grown into a leading provider of tech solutions, driven by our passion for innovation.</p>
  
      <h2>Our Team</h2>
      <p>Our team consists of dedicated professionals with diverse backgrounds and expertise. We work collaboratively to achieve our goals and provide the best solutions for our clients.</p>
    </section>
  
    <section class="contact-info">
      <h2>Contact Us</h2>
      <p>If you have any questions or would like to learn more about our services, feel free to get in touch:</p>
      <address>
        <p>Email: contact&#64;company.com</p>        
      </address>
    </section>
  </section>
  