.form-group {
  margin-bottom: 40px;
}

.form-control {
  width: 100%;
  padding: 100px;
  box-sizing: border-box;
}

.btn {
  margin-top: 100px;
}

.error-message {
  color: red;
  font-size: 12px;
}

main {
  min-height: calc(100vh - 80px); /* Adjust based on header/footer height */
}
