<h1 mat-dialog-title>Edit Product</h1>

<div mat-dialog-content>
  <form [formGroup]="editform" (ngSubmit)="save()">
    <mat-form-field appearance="fill">
      <mat-label>Product Name</mat-label>
      <input matInput formControlName="productName" required>
      <mat-error *ngIf="editform.get('productName')?.hasError('required')">
        Product Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quantity</mat-label>
      <input matInput formControlName="qty" type="number" required>
      <mat-error *ngIf="editform.get('qty')?.hasError('required')">
        qty is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="editform.get('qty')?.hasError('min')">
        qty must be a non-negative number
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" type="number" required>
      <mat-error *ngIf="editform.get('price')?.hasError('required')">
        Price is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="editform.get('price')?.hasError('min')">
        Price must be a positive number
      </mat-error>     
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" type="submit" (click)="save()">Save</button>
</div>
