<h1 mat-dialog-title>Session Expired</h1>

<div mat-dialog-content>
  <form [formGroup]="sessionForm">

    <mat-form-field appearance="fill" style="width:100%;">
      <mat-label>Message</mat-label>
      <textarea
        matInput
        formControlName="message"
        readonly>
      </textarea>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">
    Close
  </button>

  <button
    mat-raised-button
    color="warn"
    (click)="login()">
    Login Again
  </button>
</div>